.calc {
	width: 175px;
	padding: 10px;
	margin: 0;
	text-align: center;
	border: 1px solid grey;
	border-radius: 3px;
	
}

.calc h2 {
	font-size: 15px;
	text-align: right;
	margin-top: 0px;
	margin-bottom: 0px;
}

.calc h1 {
	font-size: 30px;
	text-align: right;
	margin-top: 0px;
	margin-bottom: 0px;
}

.button-row {
	display: inline-block;
	margin-top: 2px;

}

.btn {
	width: 35px;
}

.btn-wide {
	width: 75px;
}